<div class="container-fluid">
    <div class="sidenav">
        <!-- TODO -->
    </div>

    <div class="title-container">
        <h2>{{getWelcomeMessage()}}</h2>
        <p>
            Tired of filling in the same information again and again for different college applications? Autofill+ saves
            you time in the college app process by sending your profile to multiple college websites automatically, in a
            matter of seconds. <a pageScroll href="#Getting-Started">Get Auto-filling now!</a>
        </p>
    </div>
    <hr/>
    <div class="custom-container">
        <h3 id="How-Does-This-Work">How Does This Work?</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae nisi vel risus semper semper. Donec
            congue at ipsum eu feugiat. Donec pharetra et dolor quis ullamcorper. Aenean imperdiet ornare massa quis
            ultrices. Ut lacinia, ipsum eget laoreet euismod, mauris est dictum odio, ac hendrerit felis sem id magna.
            Aliquam vulputate elit justo, ac mollis risus gravida non. Quisque iaculis turpis vitae varius pulvinar.
            Maecenas a dolor quis tellus auctor semper.

            Nullam aliquam elementum nulla, blandit fermentum ante sollicitudin ut. Duis tristique erat non dolor
            convallis, id tempor sem malesuada. Aenean nulla tortor, sodales quis consectetur vitae, euismod et elit. In
            tempor ante in sapien pellentesque ultrices. Vivamus nisl nunc, commodo vitae sapien nec, ullamcorper
            fringilla orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc
            cursus vitae enim non feugiat. Nunc porta ut felis id ultricies. Curabitur dapibus laoreet dolor, vel
            volutpat libero bibendum id.

            Phasellus laoreet molestie lectus vitae maximus. Praesent fermentum volutpat odio, eu consectetur diam
            scelerisque et. Etiam ut libero diam. Nunc at odio vel tortor luctus varius. Aenean id diam vel felis cursus
            congue quis nec sapien. Sed egestas est sed quam aliquet, nec sagittis libero tempus. Proin sed malesuada
            tellus. Vivamus dictum cursus sapien, vel fermentum lacus cursus nec. Quisque in vulputate purus.

            Ut placerat mauris nulla, sed sodales nulla eleifend ac. Suspendisse potenti. Duis eget placerat ex.
            Maecenas ullamcorper aliquam sem, id egestas nibh bibendum eget. Vivamus pharetra enim turpis, sit amet
            cursus massa convallis sit amet. Vivamus luctus imperdiet cursus. Praesent interdum, tortor non rutrum
            congue, mauris tortor semper elit, in vestibulum ex felis vel neque. Aliquam tincidunt elit et mauris
            pulvinar mattis. Vestibulum finibus varius lectus, vel placerat massa fringilla at. Integer semper nisi
            facilisis nulla rutrum, id porta purus interdum. Etiam sodales purus ut volutpat lobortis. Sed vulputate
            erat ac leo scelerisque feugiat. Aliquam bibendum luctus condimentum.

            Suspendisse potenti. Fusce euismod neque ut porttitor fermentum. Nullam finibus ut libero vel suscipit.
            Fusce non lectus eros. Fusce ut condimentum leo. Nulla eget euismod odio. Phasellus pretium venenatis mauris
            vel gravida. Nullam consectetur libero at ultricies blandit. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Integer at augue orci. Sed et velit at mi tempus venenatis non at
            magna. Maecenas id mauris rhoncus, egestas augue a, ornare mi.
        </p>
    </div>
    <hr/>
    <div class="custom-container">
        <h3 id="Getting-Started">Getting Started</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae nisi vel risus semper semper. Donec
            congue at ipsum eu feugiat. Donec pharetra et dolor quis ullamcorper. Aenean imperdiet ornare massa quis
            ultrices. Ut lacinia, ipsum eget laoreet euismod, mauris est dictum odio, ac hendrerit felis sem id magna.
            Aliquam vulputate elit justo, ac mollis risus gravida non. Quisque iaculis turpis vitae varius pulvinar.
            Maecenas a dolor quis tellus auctor semper.

            Nullam aliquam elementum nulla, blandit fermentum ante sollicitudin ut. Duis tristique erat non dolor
            convallis, id tempor sem malesuada. Aenean nulla tortor, sodales quis consectetur vitae, euismod et elit. In
            tempor ante in sapien pellentesque ultrices. Vivamus nisl nunc, commodo vitae sapien nec, ullamcorper
            fringilla orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc
            cursus vitae enim non feugiat. Nunc porta ut felis id ultricies. Curabitur dapibus laoreet dolor, vel
            volutpat libero bibendum id.

            Phasellus laoreet molestie lectus vitae maximus. Praesent fermentum volutpat odio, eu consectetur diam
            scelerisque et. Etiam ut libero diam. Nunc at odio vel tortor luctus varius. Aenean id diam vel felis cursus
            congue quis nec sapien. Sed egestas est sed quam aliquet, nec sagittis libero tempus. Proin sed malesuada
            tellus. Vivamus dictum cursus sapien, vel fermentum lacus cursus nec. Quisque in vulputate purus.

            Ut placerat mauris nulla, sed sodales nulla eleifend ac. Suspendisse potenti. Duis eget placerat ex.
            Maecenas ullamcorper aliquam sem, id egestas nibh bibendum eget. Vivamus pharetra enim turpis, sit amet
            cursus massa convallis sit amet. Vivamus luctus imperdiet cursus. Praesent interdum, tortor non rutrum
            congue, mauris tortor semper elit, in vestibulum ex felis vel neque. Aliquam tincidunt elit et mauris
            pulvinar mattis. Vestibulum finibus varius lectus, vel placerat massa fringilla at. Integer semper nisi
            facilisis nulla rutrum, id porta purus interdum. Etiam sodales purus ut volutpat lobortis. Sed vulputate
            erat ac leo scelerisque feugiat. Aliquam bibendum luctus condimentum.

            Suspendisse potenti. Fusce euismod neque ut porttitor fermentum. Nullam finibus ut libero vel suscipit.
            Fusce non lectus eros. Fusce ut condimentum leo. Nulla eget euismod odio. Phasellus pretium venenatis mauris
            vel gravida. Nullam consectetur libero at ultricies blandit. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Integer at augue orci. Sed et velit at mi tempus venenatis non at
            magna. Maecenas id mauris rhoncus, egestas augue a, ornare mi.
        </p>
    </div>
</div>
