<div class="title-container">
    <h2>{{getWelcomeMessage()}}</h2>
    <p>
        Tired of filling in the same information again and again for different college applications? Autofill+ saves
        you time in the college app process by sending your profile to multiple college websites automatically, in a
        matter of seconds. <a pageScroll href="#Getting-Started">Get Auto-filling now!</a>
    </p>
</div>
<hr/>
<div class="custom-container">
    <h3 id="How-Does-This-Work">How Does This Work?</h3>
    <p>
        Autofill+ delivers your information to college app websites by opening a tab in your browser and simulating user
        actions such as going to a URL, clicking a button, and typing. For each college app, Autofill+ is given
        a tailored set of instructions to help it navigate through the respective website and fill in user information
        efficiently and securely. The process of delivering your data is performed locally, on your computer, inside
        your browser, as Autofill+ is a verified chrome extension. Below are the steps a typical user goes through while
        using Autofill+:
    </p>
    <ol>
        <li>The college applicant fills in the information that they would like Autofill+ to send to college app
            websites for them.
        </li>
        <li>
            When they have filled in data to their satisfaction, the applicant sends their data to be stored remotely
            and
            securely in the servers of Autofill+. More on how your information is handled:
            <a routerLink="https://evilnose.github.io/autofill-site/privacy">Privacy Policy (external link)</a>.
        </li>
        <li>
            When the applicant wishes, they may now select a college app (e.g. Common App, Coalition App, etc.), and
            Autofill+ will navigate to the website of that app and automatically fill in as much information as possible
            given what date the user has provided.
        </li>
    </ol>
    <p>
        And that's how Autofill+ saves your time -- with it, you only need to fill out certain information once, and
        Autofill+
        will handle the delivery of those information for you. For guided instructions on how to performs these above
        steps,
        see <a pageScroll href="#Getting-Started">"getting started"</a> guide.

        Autofill+ is still quite limited in a few areas, and improvements are being made to address these limitations.
        Examples
        include:
    </p>
    <h3 id="Limitations">Limitations</h3>
    <p>
        Autofill+ is still starting out, and as a result it is still quite limited in a few areas. However, we are
        currently working hard and making improvements to address these limitations. As a token of honesty, we have
        listed these limitations below:
    </p>
    <ul>
        <li>Lack of supported apps</li>
        <li>Not able to fill out each app completely</li>
        <li>Not able to complete all instructions successfully 100% of the time</li>
    </ul>
    <p>To see the ongoing efforts and future updates to improve Autofill+, visit the
        <a href="https://evilnose.github.io/autofill-site#Upcoming">Autofill+ website</a>.</p>
</div>
<hr/>
<div class="custom-container">
    <h3 id="Getting-Started">Getting Started</h3>
    <p>
        By following these steps below you will be able to set up Autofill+ for your use:
    </p>
    <ol>
        <li>Autofill+ needs your information to fill it in for you. Go to the <a routerLink="form">"Edit Form" tab</a>
            to
            fill in some information you would like Autofill+ to deliver. Note that you can freely choose not to fill in
            any
            at all, and Autofill+ will still be able to operate well.
        </li>
        <li>Once you've filled in enough information according to your liking, you can go to the <a routerLink="send">
            "Send Now" tab</a> to send your information. This sending of information happens within your browser
        </li>
    </ol>
    <p>
        The detailed instructions on how to navigate and use each tab will be provided at the top of that page.
    </p>
</div>
<hr/>
<div class="custom-container">
    <h3>Upcoming Updates</h3>
    <p>Visit the <a href="https://evilnose.github.io/autofill-site">Autofill+ website</a> to see the current state
        of Autofill+ as well as its upcoming updates.</p>
</div>
<hr/>
<div class="custom-container">
    <h3>Opt-Out</h3>
    <p>If for any reason you would like to opt-out of Autofill+ and erase all your data, you can do that in the
        <a routerLink="account">"My Account" tab</a>. Note that once you delete your data or account, you cannot go
        back.</p>
</div>
