<div class="title-container">
    <h2>Your Personal Form</h2>
    <p>
        Here is the form for your personal information. Fill in as little and as much as you want, and once you're
        ready, you can <a routerLink="/send">send</a> this form to your desired applications. Do note that you are
        responsible for validating your data, as the form below is simply a table.
    </p>
    <p>
        The form here does not cover all the information you need to fill in for any application; in fact, it is far
        from it. This is because it gets significantly harder to maintain any AutoFill process as
        the number of fields it supports grows. You can help make the current AutoFill processes more complete and
        robust, and even create support for new applications <a href="#">here</a>.
    </p>
</div>
<h4>Your Form Data{{!tableUpToDate ? '*' : ''}}</h4>
<div class="alert alert-info" *ngIf="saveStatus === SubmitStatusRef.SUBMITTING">Saving your data...</div>
<div class="alert alert-success" *ngIf="saveStatus === SubmitStatusRef.DONE">Your data is updated successfully!</div>
<div class="alert alert-danger" *ngIf="saveStatus === SubmitStatusRef.FAILED">Failed to save. Please check your internet
    connection and try again.
</div>
<edi-table [initialTable]="initTable" (changed)="tableChanged($event)" [columnWidths]="[0.2, 0.4, 0.4]"></edi-table>
<button *ngIf="!tableUpToDate" class="btn btn-primary btn-lg btn-fixed" type="button" (click)="saveTable()"
        [disabled]="this.saving">
    {{this.saving ? 'Saving..' : 'Save'}}
</button>
