<div class="container-fluid">
    <div class="title-container">
        <h2>Your Personal Form</h2>
        <p>
            Here is the form for your personal information. Complete as little and as much as you want, and once you're
            ready, you can <a routerLink="/send">send</a> this form to your desired targets.
        </p>
    </div>
    <form>
        <div class="form-group">
            <label for="first_name">First name:</label>
            <input type="text" class="form-control" id="first_name">

        </div>

        <div>
            <label for="last_name">Last name:</label>
            <input type="text" class="form-control" id="last_name">
        </div>
    </form>
</div>
