h1 {
  text-align: center;
  padding-bottom: 20px;
}

body {
  height: 250px;
  width: 200px;
}

.main_action {
  display: block;
  width: 125px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black#838383;
  font-size: 15px;
}

.main_action:hover {
  background-color: #dddddd;
}

#test {
  color: #0342ff;
}
