.dot-container {
  height: 25px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}

.message {
  line-height: 25px;
  color: #6a6a6a;
  font-size: 1.1em;
  vertical-align: middle;
  padding-left: 0.9em;
}