

.login-btn-google {
  background-color: #4285f4;
}

.google-icon-wrapper {
  background-color: white;
  height: 90%;
}

.login-btn {
  width: 19.1em;
  height: 4.56em;
  background-size: 100% 100%;
}